h3{
    text-align:center;
}

.subtext{
    font-weight:bold;
    font-size:25px;
}

.center{
     text-align:center;
}

.smaller-img{
    height:50px;
    width:50px;
}

  @media only screen and (max-width: 600px) {
    .subtext {
       font-size:20px;
    }
}

.spacing{
    padding-top:100px;
}

.img{
    height:250px;
    width:250px;
}